// bower:scss
// endbower
@import "bourbon";

$grey: #8D8C8C;
$darkgrey: #333;
$brown: #4C1E00;
$lightblue: #9fcbe8;

body {
    background: #FFF;
    color: #4c1e00;
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    @media screen and (max-width: 1080px) {
        font-size: 0.8em;
    }
}

p {
    letter-spacing: 0.0625em;
    margin: 0;
}

h1 {
    color: $lightblue;
    font-weight: normal;
    font-size: 3em;
    margin: 0;
    padding: 0 0 20px 0;
}

h2 {
    background-color: $darkgrey;
    color: #FDF8F8;
    font-size: 2em;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 5%;
    text-align: center;
    text-shadow: -1px -1px #999;
}

.button,
a {
    border: 1px solid $lightblue;
    border-radius: 5px;
    color: inherit;
    display: inline-block;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 80px;
    -webkit-transition: color 0.2s linear, background-color 0.2s linear;
       -moz-transition: color 0.2s linear, background-color 0.2s linear;
        -ms-transition: color 0.2s linear, background-color 0.2s linear;
         -o-transition: color 0.2s linear, background-color 0.2s linear;
            transition: color 0.2s linear, background-color 0.2s linear;
    &:hover {
        background-color: $lightblue;
        color: #FFF;
    }
}

@-webkit-keyframes headerCycle { 
    0% {
        background-color: #C3E2F7;
    } 
    25% {
        background-color: #7E7B7B;
    } 
    50% {
        background-color: rgba(76, 30, 0, 0.5);
    } 
    75% {
        background-color: #FFB4AE;
    } 
}

header {
    background: #999 url('../images/heather-amler.png') 90% bottom no-repeat;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    // animation-name: headerCycle; 
    // animation-duration: 6s; 
    // animation-direction: alternate; 
    // animation-iteration-count: infinite; 

    // -webkit-animation-name: headerCycle; 
    // -webkit-animation-duration: 10s; 
    // -webkit-animation-direction:alternate; 
    // -webkit-animation-iteration-count:infinite;

    .logo {
        float: left;
        margin: 10px 0 0 10px;
        width: 30px;
    }

    .intro {
        background-color: #FFF;
        background-color: rgba(255,255,255,0.8);
        border-radius: 5px;
        float: left;
        margin: 150px 0 200px 10%;
        padding: 40px;
        width: 500px;
        /*
        -webkit-transition: margin 1s ease-in-out, width 1s ease-in-out;
           -moz-transition: margin 1s ease-in-out, width 1s ease-in-out;
            -ms-transition: margin 1s ease-in-out, width 1s ease-in-out;
             -o-transition: margin 1s ease-in-out, width 1s ease-in-out;
                transition: margin 1s ease-in-out, width 1s ease-in-out;
        */
        ul {
            margin: 20px 0 0 0;
            padding: 0;
            width: 100%;
            
            li {
                display: inline-block;
                margin-bottom: 5px;
                margin-right: 2%;
                
                a {
                    width: 80px;
                }
            }
        }
    }

    @media screen and (max-width: 1200px) {
        .intro {
            margin: 12% 0 200px 20px;
        }
    }

    @media screen and (max-width: 1080px) {
        background-position: center bottom;
        .logo {
            display: block;
            float: none;
            margin: 10px auto;
        }
        .intro {
            float: none;
            margin: 10px auto 600px auto;
            max-width: 500px;
            text-align: center;
            width: 70%;
        }
    }

    @media screen and (max-width: 700px) {
        .intro ul li {
            display: block;
            width: 100%;
            a {
                display: block;
                width: 90%;
            }
        }
    }
}

/*
#fixed-menu {
    height: 200px;
    background-color: blue;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    // width: 100%;
}
*/

.thumbnails {
    padding: 50px;
    overflow: hidden;

    .thumbnail {
        background-color: #E9E9E9;
        float: left;
        margin: 0.2%;
        padding: 15px;
        width: 30%;
        text-align: center;
        -webkit-transition: margin-bottom 0.5s ease-in-out, width 0.5s ease-in-out;
           -moz-transition: margin-bottom 0.5s ease-in-out, width 0.5s ease-in-out;
            -ms-transition: margin-bottom 0.5s ease-in-out, width 0.5s ease-in-out;
             -o-transition: margin-bottom 0.5s ease-in-out, width 0.5s ease-in-out;
                transition: margin-bottom 0.5s ease-in-out, width 0.5s ease-in-out;
        h3 {
            text-align: center;
        }
        img {
            width: 100%;
        }
        .button {
            width: 120px;
        }
    }
    
    @media screen and (max-width: 1125px) {
        .thumbnail {
            width: 45%;
        }
    }
}

@media screen and (max-width : 751px) {
    .thumbnails {
        padding: 20px;

        .thumbnail {
            width: 95%;
            margin-bottom: 1%;
        }
    }
}

.design-detail {
    cursor: pointer;
    height: 200px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.80);
    display: none;
}

#modal {
    background-color: #fff;
    display: none;
    padding: 3%;
    position: fixed;
    
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50px;
    width: 50%;

    -webkit-transition: width 0.5s ease-in-out;
       -moz-transition: width 0.5s ease-in-out;
        -ms-transition: width 0.5s ease-in-out;
         -o-transition: width 0.5s ease-in-out;
            transition: width 0.5s ease-in-out;
    
    @media only screen and (max-width : 1080px) {
        width: 70%;
    }

    @media only screen and (max-width : 600px) {
        width: 85%;
    }
        .fa-chevron-left,
        .fa-chevron-right {
            background-color: $grey;
            color: $brown;
            position: absolute;
            top: 45%;
            cursor: pointer;
            z-index: 999;

            &:hover {
                background-color: $darkgrey;
                color: $lightblue;
                -webkit-transition: all 0.2s ease;
            }
        }

        .fa-chevron-left {
            border-radius: 0 5px 5px 0;
            left: 0;
            padding: 10px 10px 10px 2px;
        }

        .fa-chevron-right {
            border-radius: 5px 0 0 5px;
            right: 0;
            padding: 10px 2px 10px 10px;
        }

        img {
            width: 100%;
        }

    .fa-times {
        color: $lightblue;
        cursor: pointer;
        position: absolute;
        top: -20px;
        right: -15px;
        text-shadow: -1px 1px 1px #333;
    }
}

/* 
#about {
    padding: 50px;
    background: $lightblue;

    h2 {
        background: none;
        padding: 0;
    }

    p {
        padding: 2% 5%;
    }
}

#contact {
    background-color: #464646;
    color: white;
    height: 400px;
        text-align:center;

    h2 {
        background: none;
    }

     ul {    
        
        li {
            margin: 5px 15px 0 0;
            display: inline-block;
            a {
                text-indent:-9999px;
                display: block;
                height: 52px;
                width: 52px;
            }
            .twitter {
                background: url('../images/social-media-icons/twitter-icon.png');
                
                &:hover {
                    background: url('../images/social-media-icons/twitter-hover-icon.png');
                }
            }
            .linkedin {
                background: url('../images/social-media-icons/linkedin-icon.png');
                
                &:hover {
                    background: url('../images/social-media-icons/linkedin-hover-icon.png');
                }
            }
            .dribbble {
                background: url('../images/social-media-icons/dribbble-icon.png');

                &:hover {
                    background: url('../images/social-media-icons/dribbble-hover-icon.png');
                }
            }
            .github {
                background: url('../images/social-media-icons/github-icon.png');
                
                &:hover {
                    background: url('../images/social-media-icons/github-hover-icon.png');
                }
            }
            .dribbble, 
            .github,
            .linkedin,
            .twitter {
                background-size: 50px 50px;
                background-repeat: no-repeat;
                opacity: 0.4;

                &:hover {
                    background-size: 50px 50px;
                    opacity: 1;
                    background-repeat: no-repeat;
                    -webkit-filter: drop-shadow(1px 1px rgba(51, 51, 51, 0.50));
                            filter: drop-shadow(1px 1px rgba(51, 51, 51, 0.50)); 
                    -webkit-transition: all 0.3s ease;
                       -moz-transition: all 0.3s ease;
                        -ms-transition: all 0.3s ease;
                         -o-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                }
            }
        }
    }
}
*/
  