// bower:scss
// endbower
@import "bourbon";

$grey: #E9E9E9;
$darkgrey: #333;
$brown: #4C1E00;
$lightblue: #9FCBE8;

body {
    background: #FFF;
    color: $brown;
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 1080px) {
        font-size: 0.8em;
    }
}

p {
    letter-spacing: 0.0625em;
    margin: 0;
}

h1 {
    color: $lightblue;
    font-size: 3em;
    font-weight: normal;
    margin: 0;
    padding: 0 0 20px 0;
    @include transition (color 0.5s ease-in-out);
}

h2 {
    background-color: $darkgrey;
    color: $lightblue;
    font-size: 2em;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 5%;
    text-align: center;
    @include transition (color 0.5s ease-in-out);
}

.button {
    border: 1px solid $lightblue;
    border-radius: 5px;
    color: inherit;
    display: inline-block;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 80px;

    @include transition (color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear);

    &:hover {
        background-color: $lightblue;
        color: #FFF;
    }
}

header {
    background: $lightblue url('../images/heather-amler.png') 90% bottom no-repeat;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    @include transition (background-color 0.5s ease-in-out);

    .logo {
        float: left;
        margin: 10px 0 0 10px;
        width: 30px;
    }

    .intro {
        background-color: #FFF;
        background-color: rgba(255,255,255,0.8);
        border-radius: 5px;
        float: left;
        margin: 150px 0 200px 10%;
        padding: 40px;
        width: 500px;

        @include transition (margin 1s ease-in-out, width 1s ease-in-out);
        
        ul {
            margin: 20px 0 0 0;
            padding: 0;
            width: 100%;
            
            li {
                display: inline-block;
                margin-bottom: 5px;
                margin-right: 2%;
                
                a {
                    width: 90px;
                }
            }
        }
    }

    @media screen and (max-width: 1200px) {
        .intro {
            margin: 12% 0 200px 20px;
        }
    }

    @media screen and (max-width: 1080px) {
        background-position: center bottom;
        .logo {
            display: block;
            float: none;
            margin: 10px auto;
        }
        .intro {
            float: none;
            margin: 10px auto 600px auto;
            max-width: 500px;
            text-align: center;
            width: 70%;
        }
    }

    @media screen and (max-width: 700px) {
        .intro ul li {
            display: block;
            width: 100%;
            a {
                display: block;
                width: 90%;
            }
        }
    }
}

#fixed-menu {
    background-color: $lightblue;
    border-radius: 0 0 0 5px;
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 56px;

    @include transition (background-color 0.5s ease-in-out);

    ul {
        list-style-type: none;
        margin: 0;
        padding: 10%;
        text-align: center;

        li {
            margin: 30px 5px;

            a {
                color: $brown;
                text-decoration: none;
                @include transition (color 0.2s linear);

                &:hover {
                    color: #FFF;
                }
            }
        }
    }

    @media screen and (max-width: 800px) {
        border-radius: 0;
        left: 0;
        width: 100%;
        ul {
            padding: 3px;

            li {
                display: inline;
                margin: 5px 15px;

                a {
                    padding: 0;
                    &:hover {
                        color: #FFF;
                    }
                }
            }
        }
    }
}

.thumbnails {
    padding: 50px;
    overflow: hidden;

    .thumbnail {
        background-color: $grey;
        border-radius: 5px;
        float: left;
        margin: 0.2%;
        padding: 15px;
        width: 30%;
        text-align: center;

        h3 {
            text-align: center;
        }
        img {
            width: 100%;
        }
        .button {
            width: 120px;
        }
        .design-detail {
            cursor: pointer;
            height: 200px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    }
    
    @media screen and (max-width: 1125px) {
        .thumbnail {
            width: 45%;
        }
    }
    @media screen and (max-width : 755px) {
        padding: 20px;

        .thumbnail {
            width: 95%;
            margin-bottom: 1%;
        }
    }
}

.description {
    min-height: 150px;
    text-align: left;
    p {
        margin-bottom: 15px;
    }
    p:last-child {
        
        margin-bottom: 5px;
    }
    @media screen and (max-width: 1080px) {
        min-height: 110px;
    }
    @media screen and (max-width: 751px) {
        min-height: 95px;
    }
}

.modal-wrap {
    background-color: rgba(51, 51, 51, 0.80);
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

#modal {
    background-color: #fff;
    display: none;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    width: 50%;
    @include transition (width 0.2s linear);
    
    @media only screen and (max-width : 1080px) {
        width: 70%;
    }
    @media only screen and (max-width : 600px) {
        width: 90%;
    }
    .fa-chevron-left,
    .fa-chevron-right {
        background-color: $grey;
        color: $brown;
        cursor: pointer;
        position: absolute;
        top: 45%;
        z-index: 999;
        @include transition (background-color 0.2s ease, color 0.2s ease );

        &:hover {
            background-color: $darkgrey;
        }
    }

    .fa-chevron-left {
        border-radius: 0 5px 5px 0;
        left: 0;
        padding: 10px 10px 10px 2px;
    }

    .fa-chevron-right {
        border-radius: 5px 0 0 5px;
        right: 0;
        padding: 10px 2px 10px 10px;
    }
    img {
        width: 100%;
    }
    .fa-times {
        color: $lightblue;
        cursor: pointer;
        position: absolute;
        right: -15px;
        top: -20px;
        text-shadow: -1px 1px 1px $darkgrey;
    }
}

.about {
    padding: 50px;

    @include transition (background-color 0.5s ease-in-out);
    
    @media screen and (max-width : 751px) {
        padding: 20px;
    }

    .about-me {
        background-color: $grey;
        border-radius: 5px;
        line-height: 1.7em;
        max-width: 800px;
        margin: 50px auto;
        padding: 5%;
    }   
}

#contact {
    background-color: $grey;
    height: 500px;

    p {
        margin: 50px auto 20px;
        text-align: center;
    }

    a {
        color: $brown;
        text-decoration: none;
        @include transition (color 0.2s linear);

        &:hover {
            color: $lightblue;
        }
    }

    ul { 
        list-style-type: none;
        padding: 0;
        text-align: center;
        
        li {
            display: inline-block;
            margin: 1%;

            .fa {
                color: $darkgrey;
                opacity: 0.7;
                @include transition (opacity 0.2s linear, color 0.2s linear);
            }
            .fa-twitter:hover {
                color: #1ab2e7;
            }
            .fa-linkedin:hover {
                color: #1b86bc;
            }
            .fa-dribbble:hover {
                color: #ea4c89;
            }
            .fa-github-alt:hover {
                color: #0071be;
            }
        }
    }
}

@mixin set-theme($color) {
    h1, h2 {
        color: $color;
    }
    header, 
    #fixed-menu,
    .about {
        background-color: $color;
    }
    #contact a:hover {
        color: $color;
    }
    .button {
        border-color: $color;
        &:hover {
            background-color: $color;
        }
    }

    #modal .fa-times,
    #modal .fa-chevron-left,
    #modal .fa-chevron-right {
        color: $color;
    }
}

body.blue { @include set-theme($lightblue); }
body.red { @include set-theme(#FF6F54); }
body.green { @include set-theme(#00FFDC); }
body.purple { @include set-theme(#B661E8); }
